body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #333333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

/* Logo */
#logo {
    width: 20vw;
    padding: 20px 0;
}

/* Barra de navegación */
#barradenavegacion {
    max-width: fit-content;
    margin: 0 auto;
}

#ulNav {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgba(255, 3, 3, 0.63);
    height: 8vh;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

/* Footer */
footer {
    padding-top: 5vh;
    max-width: fit-content;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    text-align: left;
    padding: 1rem;
}

/* Lista del footer */
#ul-footer {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgba(255, 3, 3, 0.63);
    height: auto;
    min-height: 60px;
    width: 90vw;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
}

.a-footer {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#ul-footer li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    list-style-type: none;
}

.img-footer {
    margin-right: 8px;
    height: 20px;
    width: auto;
}

/* Menú lateral */
.menu {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 15.625rem;
    padding-top: 6.25rem;
    transition: 0.5s;
    transform: translateX(15.625rem);
    outline: 2px solid var(--color-borde-lateral);
    z-index: 2001;
    
}

.aSide {
    padding: 0.938rem 1.563rem;
    background: none;
    color: white; 
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}

.liSide {
    transition: 0.3s;
    padding: 1.25rem;
}

.aSide:hover {
    background-color: rgb(95, 94, 94);
    border-radius: 5px;
}

/* Abrir menú */

#abrir {
    display: none;
}

.abrir {
    height: 1.875rem;
    width: 1.875rem;
    position: fixed;
    top: 1.563rem;
    right: 1.563rem;
    z-index: 2002;
}

.abrir i {
    font-size: 1.563rem;
    cursor: pointer;
}

#abrir:checked ~ .menu {
    transition: 0.5s;
    transform: translateX(0);
    background: rgba(40, 41, 41, 0.76);
}

#abrir:checked ~ .abrir i {
    transition: 0.5s;
    right: 15rem;
}

@media (max-width: 768px) {
    #ul-footer {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #ul-footer li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #principal {
        padding: 1.5rem;
    }

    #principal video, #informacion {
        width: 90vw;
    }

    #contenido .item {
        flex-basis: 100%;
        max-width: 100%;
    }

    #titulo-introduccion {
        font-size: 1.8rem;
    }

    #texto-introduccion {
        font-size: 0.9rem;
    }

    .participantes {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .gallery-item {
        max-width: 80vw;
    }

    .gallery-item .caption {
        font-size: 1rem;
    }

    #logo {
        margin-left: 30px;
    }
}
/* GALERIA DE EQUIPOS*/

.equipos{
    padding: 3%;
}
/* EQUIPO1*/
.equipo1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.galeria1 {
    width: 10%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
  
}

.galeria1 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  
}

.galeria1:hover {
    transform: scale(1.05);
}
/* EQUIPO1*/
/* EQUIPO2*/
.equipo2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.galeria2 {
    width: 10%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
  
}

.galeria2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  
}

.galeria2:hover {
    transform: scale(1.05);
}
/* EQUIPO2*/
/* EQUIPO3*/
.equipo3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.galeria3 {
    width: 10%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
  
}

.galeria3 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  
}

.galeria3:hover {
    transform: scale(1.05);
}
/* EQUIPO3*/
/* EQUIPO4*/
.equipo4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.galeria4 {
    width: 10%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
  
}

.galeria4 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  
}

.galeria4:hover {
    transform: scale(1.05);
}
/* EQUIPO4*/

/*INFORMACION DE JUGADORES*/

/*1*/
.galeria1{
    text-align: center;
}
#caja1 {
    border-radius: 5px;
    border: 1px solid red;
    box-shadow: 0 0 10px 2px red;
    padding: 10px;
}
.tik {
    border: 1px solid red;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
}

.caption{
    text-align: center;
   padding: 2%;
   font-size: 2em;
    
}


p{
    padding: 3%;
}

/*2*/
.galeria2{
    text-align: center;
}

/*3*/
.galeria3{
    text-align: center;
}

/*4*/
.galeria4{
    text-align: center;
}
